<div class="header" ng-controller="HeadCtrl">
	<img src="img/bussinessUser/user1.png" />
	<div class="userName">
		<i class="glyphicon glyphicon-user"></i> {{business.account}}
		<span class="mebberName">{{ business.memberName || '普通用户'}}</span>
	</div>
	<div class="phoneNum">
		<i class="glyphicon glyphicon-phone"></i> {{business.tel}}
	</div>
	<div class="logOut">
		<a ng-click="loginout()" href="" class="btn btn-success btn-sm">
			<i class="glyphicon glyphicon-log-out"></i> 注销
		</a>
	</div>
</div>