<!--砍价产品管理-->
<div ng-controller='BargainirgProductCtrl'>
  <div class="content">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-download"></i> 砍价产品管理</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <!--添加活动-->
          <div class="col-md-3 col-sm-3">
            <div class="dropdown">
              <button ng-click="addShow()" class="btn btn-info">
                <i class="glyphicon glyphicon-plus"></i>添加
              </button>
            </div>
          </div>
        </div>
        <div class="trafficAPI-table">
          <h4 class="col-sm-2 control-label text-success"><i class="glyphicon glyphicon-th-list"></i> 产品列表</h4>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>套餐名</th>
                <th>零售价</th>
                <th>成本（元）</th>
                <th>激活</th>
                <th>运营商</th>
                <th>省份</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>参与人数</th>
                <th>底   价</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="bargainirgProduct in bargainirgProductList">
                    <td>{{bargainirgProduct.apiProvider}} {{bargainirgProduct.name}}</td>
                    <td>{{bargainirgProduct.retailPrice}}</td>
                    <td>{{bargainirgProduct.cost}}</td>
                    <td><input ng-disabled ng-model="bargainirgProduct.isActive" type="checkbox" /></td>
                    <td>{{bargainirgProduct.providerName}}</td>
                    <td>{{bargainirgProduct.province}}</td>
                    <td>{{ bargainirgProduct.startTime | date: format.datetime}}</td>
                    <td>{{ bargainirgProduct.endTime | date: format.datetime}}</td>
                    <td>{{ bargainirgProduct.limitNumber }}</td>
                    <td>{{ bargainirgProduct.lowPrice }}</td>
                    <td>
                      <button ng-click="editShow(bargainirgProduct)" class="btn btn-info btn-sm">编辑</button>
                    </td>
              </tr>
            </tbody>
          </table>
          <nav class="rightNav">
          <tm-pagination conf="paginationConf"></tm-pagination>
          </nav>
        </div>
      </div>
    </div>
  </div>


  <!--编辑 模态框 #add-->
  <div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">添加砍价套餐</h4>
        </div>
        <div class="modal-body">
          <form name="add_plan_form" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">套 餐</label>
              <div class="col-sm-9">
                <div class="dropdown">
                  <select ng-model="tpa.trafficPlanId"
                    ng-options="plan.id as plan.name for plan in edit.trafficPlans"
                    class="form-control">
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">参与人数</label>
              <div class="col-sm-9">
                <input name="limitNumber" ng-model="tpa.limitNumber" required="" type="number" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">底  价</label>
              <div class="col-sm-9">
                <input name="lowPrice" ng-model="tpa.lowPrice" required="" type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">激活</label>
              <div class="col-sm-9">
                 <input name="isActive" ng-model="tpa.isActive" type="checkbox" class="ng-pristine ng-valid ng-empty ng-touched">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">开始时间</label>
              <div class="col-sm-9">
                <input name="startTime" ng-model="tpa.startTime" type="text" class="form-control form_datetime_task">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">结束时间</label>
              <div class="col-sm-9">
                <input name="endTime" ng-model="tpa.endTime" type="text" class="form-control form_datetime_task">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button ng-click="add(tpa)" type="submit" class="btn btn-success">提交</button>
        </div>
      </div>
    </div>
  </div>

  <!--编辑 模态框 #edit-->
  <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">添加砍价套餐</h4>
        </div>
        <div class="modal-body">
          <form name="edit_plan_form" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">套 餐</label>
              <div class="col-sm-9">
                <div class="dropdown">
                  <label>{{editTpa.apiProvider}} {{editTpa.name}}</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">参与人数</label>
              <div class="col-sm-9">
                <input name="limitNumber" ng-model="editTpa.limitNumber" required="" type="number" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">底  价</label>
              <div class="col-sm-9">
                <input name="lowPrice" ng-model="editTpa.lowPrice" required="" type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">激活</label>
              <div class="col-sm-9">
                 <input name="isActive" ng-model="editTpa.isActive" type="checkbox" class="ng-pristine ng-valid ng-empty ng-touched">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">开始时间</label>
              <div class="col-sm-9">
                <input name="startTime" ng-model="editTpa.startTime" type="text" class="form-control form_datetime_task" mo-date-input="YYYY-MM-DD HH:mm:ss">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">结束时间</label>
              <div class="col-sm-9">
                <input name="endTime" class="form-control form_datetime_task" type="text" ng-model="editTpa.endTime"
                       mo-date-input="YYYY-MM-DD HH:mm:ss"/>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button ng-click="update(editTpa)" type="submit" class="btn btn-success">提交</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.form_datetime_task').datetimepicker({
      language: 'zh-CN',
      format: 'yyyy-mm-dd HH:mm:ss',
      startDate: '2016-04-19 05:00',
      weekStart: 0,
      todayBtn: 1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      minView: 0,
      forceParse: 1,
      keyboardNavigation: 1
    });
</script>