<div ng-controller="ResetPasswordCtrl" class="content">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">修改密码</h3>
		</div>
		<div class="panel-body">
			<form name="reset_form" ng-submit="changePassword(reset_form.$valid)"
					 class="form-horizontal" style="width: 60%; margin: 10px auto;">
				<div class="form-group">
                	<label>密码</label>
                    <input name="password" ng-model="user.password" 
                            required ng-minlength="6"
                            type="password" class="form-control">
                    <p class="alert alert-danger" ng-show="reset_form.password.$error.minlength" >密码要大于6位</p>
                </div>
                <div class="form-group">
                    <label>确认密码</label>
                    <input ng-model="user.password_again" 
                            type="password" class="form-control">
                    <p class="alert alert-danger" ng-show="user.password_again!=user.password" >密码两次要相同</p>
                </div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">确认</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>