<ul class=" pageNav">
	<li><a ui-sref="admin.home.businessCenter"  ui-sref-active="active" ><i class="glyphicon glyphicon-home"></i> 商家信息中心</a>
		<ul>
			<li><a ui-sref="admin.home.createBusiness"  ui-sref-active="active" >创建商家</a></li>
		</ul>
	</li>
	<li><a ui-sref-active="active" ><i class="glyphicon glyphicon-cog"></i> 流量产品设置</a><span class="tips">NEW</span>
		<ul>
			<li><a ui-sref="admin.home.trafficgroup"  ui-sref-active="active" >流量分组管理</a></li>
			<li><a ui-sref="admin.home.trafficplan"  ui-sref-active="active" >流量套餐管理</a></li>
			<li><a ui-sref="admin.home.trafficAPIRecharge"  ui-sref-active="active" >接口流量管理</a></li>
		</ul>
	</li>
	<li><a ui-sref="admin.home.theme"  ui-sref-active="active" ><i class="glyphicon glyphicon-th"></i> 主题模版设置</a></li>
	<li><a ui-sref="admin.home.activity"  ui-sref-active="active" ><i class="glyphicon glyphicon-cloud"></i> 营销活动</a>
		<ul>
			<li>
				<a ui-sref="admin.home.bargainirg"  ui-sref-active="active" >砍价管理</a>
			</li>
		</ul>
	</li>
	<li><a ui-sref="admin.home.memeber"  ui-sref-active="active" ><i class="glyphicon glyphicon-user"></i> 会员管理中心</a></li>
	<li><a ui-sref="admin.home.order"  ui-sref-active="active" ><i class="glyphicon glyphicon-tag"></i> 订单管理中心</a></li>
	<li><a ui-sref="admin.home.balanceCenter"  ui-sref-active="active" ><i class="glyphicon glyphicon-credit-card"></i> 财务管理中心</a>
		<ul>
			<li><a ui-sref="admin.home.withdraw"  ui-sref-active="active" >提现</a></li>
		</ul>
	</li>
	<li><a ui-sref="admin.home.document"  ui-sref-active="active" ><i class="glyphicon glyphicon-folder-open"></i> 文档管理</a></li>
	<li><a ui-sref="admin.home.systemconfig"  ui-sref-active="active" ><i class="glyphicon glyphicon-wrench"></i> 系统设置</a>
		<ul>
			<li><a ui-sref="admin.home.businessLeftMenu"  ui-sref-active="active" >商家左侧栏</a></li>
		</ul>
	</li>
	<li><a ui-sref="admin.home.resetPassword"  ui-sref-active="active" ><i class="glyphicon glyphicon-star"></i> 管理员设置</a>
		<ul>
			<li><a ui-sref="admin.home.resetPassword"  ui-sref-active="active" >修改密码</a></li>
		</ul>
	</li>
</ul>