<div>
  <div class="content">

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="glyphicon glyphicon-cog"></i> 营销活动
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <!--添加活动-->
          <div class="col-md-3 col-sm-3">
            <div class="dropdown">
              <button ng-click="addShow()" class="btn btn-info">
                <i class="glyphicon glyphicon-plus"></i>添加
              </button>
            </div>
          </div>

          <div class="col-md-12 col-sm-12" style="margin-top: 50px;">
            <div class="table-condensed">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>活动名称</th>
                    <th>激  活</th>
                    <th>操  作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="activity in activites">
                    <td>{{activity.name}}</td>
                    <td>
                    <input type="checkbox" />
                    </td>
                    <td>
                      <button ng-click="editShow(activity)" class="btn btn-info btn-sm">编辑</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav class="rightNav">
                <tm-pagination conf="paginationConf"></tm-pagination>
              </nav>
            </div>

          </div>
          <!--查询结果表格-->
        </div>

      </div>
    </div>

  </div>
</div>